<%- include('./partials/header'); %>

    <main>
        <p class="main-p">Hello,</p>
        <p class="main-p">
            <%= Subject_1 %>
        </p>
        <p class="main-p">
            <%= Subject_2 %>
        </p>
        <a href="<%= Link %>" class="main-btn"><%= button_text %></a>
        <p class="main-p">This verification link will expire in 24 hours.</p>
        <p class="main-p">-- The Little Things Team</p>
    </main>

    <%- include('./partials/footer'); %>